--
-- PostgreSQL database dump
--

\restrict Q6so0Sd47OSBf7GZlegjqgKlaA8JGjB347hhkaepPGaRqa00ZAuaPL3jrnnqZab

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.categories DISABLE TRIGGER ALL;

INSERT INTO public.categories (id, name, created_at, updated_at) VALUES (1, 'Action', '2026-03-22 19:15:40', '2026-03-22 19:15:40');
INSERT INTO public.categories (id, name, created_at, updated_at) VALUES (2, 'Adventure', '2026-03-22 19:15:40', '2026-03-22 19:15:40');
INSERT INTO public.categories (id, name, created_at, updated_at) VALUES (3, 'MMO', '2026-03-22 19:15:40', '2026-03-22 19:15:40');


ALTER TABLE public.categories ENABLE TRIGGER ALL;

--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.products DISABLE TRIGGER ALL;

INSERT INTO public.products (id, category_id, name, description, price, created_at, updated_at, is_enabled, discount_percentage) VALUES (1, 2, 'Minecraft', 'A block-based sandbox where you build, explore, and survive in generated worlds.', 29.99, '2026-03-17 17:48:22', '2026-03-17 17:48:22', true, 15);
INSERT INTO public.products (id, category_id, name, description, price, created_at, updated_at, is_enabled, discount_percentage) VALUES (2, 3, 'World of Warcraft', 'Blizzard fantasy MMORPG set in Azeroth. Subscription-style pricing reference.', 10.99, '2026-03-17 17:48:22', '2026-03-17 17:48:22', true, 0);
INSERT INTO public.products (id, category_id, name, description, price, created_at, updated_at, is_enabled, discount_percentage) VALUES (3, 5, 'Call of Duty: Black Ops 7', 'Near-future military FPS with co-op campaign, multiplayer, and Zombies.', 69.99, '2026-03-17 17:48:22', '2026-03-17 17:48:22', true, 20);


ALTER TABLE public.products ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.users DISABLE TRIGGER ALL;

INSERT INTO public.users (id, username, name, surname, email, email_verified_at, password, role, remember_token, created_at, updated_at, avatar, is_active) VALUES (2, 'Sebiu98', 'Eusebiu', 'Ciobanu', 'eusebiu.ciobanu@gmail.com', NULL, '$2y$12$hjVtBN06RPdOMpLgYrAdO.FTk8Jhvr8n2JbBtzo0jAwEpI4mbgdl6', 'admin', NULL, '2026-03-22 18:12:17', '2026-03-22 18:12:17', '/avatars/avatar-05.jpg', true);
INSERT INTO public.users (id, username, name, surname, email, email_verified_at, password, role, remember_token, created_at, updated_at, avatar, is_active) VALUES (4, 'Ciara', 'Alessandro', 'Ciaraulo', 'alessandro.ciaraulo@gmail.com', NULL, '$2y$12$sFgvbH30GJKn19Khgr5Wn.j6igR440rgzka03kz76YHZpjx38xWl2', 'user', NULL, '2026-03-22 18:12:17', '2026-03-22 18:12:17', '/avatars/avatar-04.jpg', true);
INSERT INTO public.users (id, username, name, surname, email, email_verified_at, password, role, remember_token, created_at, updated_at, avatar, is_active) VALUES (5, 'Peppe', 'Giusebbe', 'Rosella', 'giusebbe.rosella@gmail.com', NULL, '$2y$12$1Ghn9Gg4B5FRW/ZxXlSPNeYxNX3VG4SjprdIRSe3.6gtXGLJIWSTq', 'user', NULL, '2026-03-22 18:12:17', '2026-03-22 18:12:17', '/avatars/avatar-09.jpg', true);


ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.comments DISABLE TRIGGER ALL;

INSERT INTO public.comments (id, user_id, product_id, content, created_at, updated_at, rating) VALUES (1, 2, 1, 'Great sandbox game, instant key delivery.', '2026-03-22 19:41:04', '2026-03-22 19:41:04', 5);
INSERT INTO public.comments (id, user_id, product_id, content, created_at, updated_at, rating) VALUES (2, 3, 2, 'Solid MMO and stable service.', '2026-03-22 19:41:04', '2026-03-22 19:41:04', 4);
INSERT INTO public.comments (id, user_id, product_id, content, created_at, updated_at, rating) VALUES (3, 4, 3, 'Fast checkout and game works as expected.', '2026-03-22 19:41:04', '2026-03-22 19:41:04', 5);


ALTER TABLE public.comments ENABLE TRIGGER ALL;

--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.orders DISABLE TRIGGER ALL;

INSERT INTO public.orders (id, user_id, total_amount, status, created_at, updated_at) VALUES (55, 8, 355.41, 'completed', '2026-02-05 11:11:56', '2026-03-22 20:07:24');
INSERT INTO public.orders (id, user_id, total_amount, status, created_at, updated_at) VALUES (27, 12, 50.99, 'completed', '2026-01-20 02:02:11', '2026-03-22 20:07:24');
INSERT INTO public.orders (id, user_id, total_amount, status, created_at, updated_at) VALUES (23, 19, 107.97, 'completed', '2026-01-16 14:37:22', '2026-03-22 20:07:24');


ALTER TABLE public.orders ENABLE TRIGGER ALL;

--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.order_items DISABLE TRIGGER ALL;

INSERT INTO public.order_items (id, order_id, product_id, quantity, unit_price, created_at, updated_at) VALUES (1, 1, 14, 1, 31.99, '2026-01-01 22:53:59', '2026-01-01 22:53:59');
INSERT INTO public.order_items (id, order_id, product_id, quantity, unit_price, created_at, updated_at) VALUES (2, 2, 3, 1, 55.99, '2026-01-02 15:53:50', '2026-01-02 15:53:50');
INSERT INTO public.order_items (id, order_id, product_id, quantity, unit_price, created_at, updated_at) VALUES (3, 2, 16, 2, 47.99, '2026-01-02 15:53:50', '2026-01-02 15:53:50');


ALTER TABLE public.order_items ENABLE TRIGGER ALL;

--
-- Data for Name: game_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.game_keys DISABLE TRIGGER ALL;

INSERT INTO public.game_keys (id, product_id, order_item_id, key_value, status, assigned_at, used_at, created_at, updated_at) VALUES (373, 8, NULL, 'bbb95-3bec9-9ef60-9dffd', 'available', NULL, NULL, '2026-03-22 20:35:53', '2026-03-22 20:35:53');
INSERT INTO public.game_keys (id, product_id, order_item_id, key_value, status, assigned_at, used_at, created_at, updated_at) VALUES (374, 8, NULL, '36b82-e956c-13a63-991c7', 'available', NULL, NULL, '2026-03-22 20:35:53', '2026-03-22 20:35:53');
INSERT INTO public.game_keys (id, product_id, order_item_id, key_value, status, assigned_at, used_at, created_at, updated_at) VALUES (375, 8, NULL, '6b396-d1927-87672-067ab', 'available', NULL, NULL, '2026-03-22 20:35:53', '2026-03-22 20:35:53');


ALTER TABLE public.game_keys ENABLE TRIGGER ALL;

--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 6, true);


--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comments_id_seq', 15, true);


--
-- Name: game_keys_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.game_keys_id_seq', 635, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 200, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 102, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 21, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 20, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Q6so0Sd47OSBf7GZlegjqgKlaA8JGjB347hhkaepPGaRqa00ZAuaPL3jrnnqZab

